/* The parent */
.headerNav {
  display: flex;
  align-items: center;
  position: relative;

  font-size: 1.4rem;
  line-height: 2.02rem;
  word-spacing: 0;
  color: inherit;
  padding: 0px 6rem 0px 6rem;

  border-bottom: 1px solid var(--color-grey-1);
}

/* // direct child */
/* Logo */
.logo:link,
.logo:visited {
  flex-basis: 30%;
  text-decoration: none;
  border: none;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo:hover,
.logo:active {
  border: none;
}

.logo src {
  width: 3rem;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-primary);
  margin-left: -5px;
  letter-spacing: -1px;
}

/* Options */

.options {
  flex-grow: 1;
  text-align: center;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  line-height: 2.4rem;

  display: flex;
  text-align: center;
  justify-content: center;
}

.options button {
  font-family: inherit;
  font-weight: inherit;
  font-size: 1.5rem;
  color: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  line-height: inherit;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 10rem;

  transition: all 0.3s;
}

.options button:last-child {
  line-height: 24px;
  font-weight: 300;
  color: #222222;
}

.options button:last-child:hover {
  font-weight: 400;
  background-color: var(--color-grey-1);
}

.options button:first-child span {
  font-weight: 550;
  line-height: 2.4rem;
}
/* cta */
.cta {
  flex-basis: 40%;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cta a:link,
.cta a:visited {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  padding: 1rem;
  border-radius: 10rem;
  font-size: 1.2rem;

  transition: all 0.3s;
}

.cta a:hover,
.cta a:active {
  background-color: var(--color-grey-1);
}

.cta button {
  background-color: transparent;
  border: none;
}

.cta button img {
  width: 1.5rem;
}

.cta button:nth-child(2) {
  transition: all 0.2s;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cta button:nth-child(2):hover {
  background-color: var(--color-grey-1);
}

.cta > * {
  margin-right: 1rem;
}

.cta :last-child {
  margin-right: 0;
}

.cta button:last-child {
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  border: 1px solid var(--color-grey-1);
  border-radius: 5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: all 0.3s;
}

.cta button:last-child:hover {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
}

.cta button:last-child img {
  width: 3rem;
  display: block;
  border-radius: 50%;
  border: 1px solid none;
}
.cta p {
  background-color: #222222;
  width: 1.4rem;
  height: 1.5px;
  margin-right: 1.5rem;

  position: relative;
}

.cta p::after,
.cta p::before {
  content: "";
  position: absolute;
  background-color: var(--color-text-default);
  width: 1.4rem;
  height: 1.5px;

  left: 0;
}

.cta p::before {
  transform: translateY(-4px);
}

.cta p::after {
  transform: translateY(4px);
}

.ctaMenu {
  width: 22rem;
  position: absolute;
  right: 4rem;
  top: 7rem;
  z-index: 200;
}

.ctaMenu ul {
  list-style: none;
  /* display: none; */
  padding: 2rem;
  background-color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  border-radius: 1.5rem;

  box-shadow: rgba(0, 0, 0, 0.18) 1px 2px 4px 1px;
}

.ctaMenu li:not(:last-child) {
  padding-bottom: 2rem;
}

/* special class for modifyiing the header padding */
.smallerHeader {
  padding: 0px 35rem 0px 35rem;
}
