.mainNav {
  padding: 2rem 4rem;

  margin-bottom: 10rem;

  display: flex;
  align-items: center;
}

.mainNav ul {
  display: flex;
  list-style: none;
  overflow: hidden auto;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--color-text-1);

  width: 75%;
  justify-content: space-between;
}

.mainNav ul li {
  font-size: 1rem;
  padding: 1rem 2rem;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: all 0.2s;
}

.mainNav ul li:hover span {
  transition: all 0.2s;
}
.mainNav ul li:hover span {
  border-bottom: 2px solid #dddddd;
}

.mainNav ul li img {
  width: 2rem;
  margin-bottom: 1rem;
}

.filterBox {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;
  align-items: center;

  flex-grow: 1;
  margin-right: auto;
}

.filters,
.toggle {
  padding: 1rem 1.5rem;
  border-radius: 1.2rem;
  border: 2px solid red;
  font-size: 1.2rem;
  font-weight: 500;

  border: 1px solid var(--color-grey-1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  transition: all 0.3s;
}

.filters:hover,
.toggle:hover {
  background-color: var(--color-grey-2);
  border: 1px solid #000;
}

.filters img {
  width: 1.5rem;
  margin-right: 0.5rem;
  :red ;
}

.toggle {
  margin-left: 1rem;
  padding: 1.2rem 1.5rem;
  display: flex;
}

.toggle span {
  margin-right: 2rem;
}

.toggleContainer {
  width: 4rem;
  height: 2.2rem;
  background-color: red;
  /* padding-left: 5px; */
  border-radius: 1rem;
  position: relative;
}

.toggleContainer div {
  background-color: gold;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0.7rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.toggleContainer div:hover {
  transform: translate(85%, -50%);
  background-color: gold;
}
