.buisness {
  padding: 0rem 4rem;

  display: flex;
  justify-content: flex-start;
  gap: 1.4rem;
  flex-wrap: wrap;
}

.buisnessCard {
  width: 25rem;
}

.imgContainer {
  border-radius: 20px;
  background-size: contain;
  overflow: hidden;
}
.imgContainer img {
  width: auto;
  height: 25rem;
}

/* buisness details */
.buisnessDetails {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.buisnessSummary p {
  font-weight: 500;
}
