.buisness {
  padding: 0rem 6rem;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buisnessCard {
  width: 25rem;
  margin-bottom: 20px;
}

.imgContainer {
  border-radius: 20px;
  height: 25rem;

  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* buisness details */
.buisnessDetails {
  margin-top: 1rem;

  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.buisnessSummary {
  font-size: 1.2rem;
  width: 70%;
  overflow: hidden;
}

.buisnessSummary p {
  font-weight: 500;
}

.buisnessSummary > * {
  margin-bottom: 0.5rem;
}

.buisnessSummary span {
  display: block;
}

.buisnessSummary h3 {
  font-weight: 500;
}

.buisnessSummary span {
  color: var(--color-default);
  font-weight: 300;
  font-size: 1.3rem;
}
