.mainNav {
  padding: 2rem 4rem;

  /* margin-bottom: 10rem; */

  position: relative;

  display: flex;
  align-items: center;
}

.mainNav ul {
  display: flex;
  list-style: none;
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */

  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--color-text-1);

  width: 75%;
  justify-content: space-between;
}

.prevBtn,
.nextBtn {
  border: none;
  top: 40%;
  transform: translateY(-50%);
  border: 2px solid #dddddd;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 100;

  position: absolute;
}

.prevBtn img,
.nextBtn img {
  width: 2rem;
  height: 2rem;
}

.prevBtn:hover,
.nextBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;
  scale: 1.05;
}

.nextBtn {
  left: 75%;
}

.mainNav ul li {
  font-size: 1rem;
  padding: 1rem 2rem;
  font-weight: 600;

  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  transition: all 0.2s;
}

.mainNav ul li:hover {
  color: #000;
  font-weight: 600;
  scale: 1.1;
}

.mainNav ul li span {
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
}

.mainNav ul li:hover span {
  transition: all 0.2s;
}
.mainNav ul li:hover span {
  border-bottom: 2px solid #dddddd;
}

.mainNav ul li img {
  width: 2rem;
  margin-bottom: 1rem;
}

.filterBox {
  display: flex;
  justify-content: flex-end;
  margin-left: 2rem;
  align-items: center;

  flex-grow: 1;
  margin-right: auto;
}

.filters,
.toggle {
  padding: 1.4rem 1.5rem;
  border-radius: 1.2rem;
  border: 2px solid red;
  font-size: 1.2rem;
  font-weight: 500;

  border: 1px solid var(--color-grey-1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  transition: all 0.3s;
}

.filters:hover,
.toggle:hover {
  background-color: var(--color-grey-2);
  border: 1px solid #000;
}

.filters img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.toggle {
  margin-left: 1rem;
  display: flex;
}

.toggle span {
  margin-right: 2rem;
}

.toggleContainer {
  width: 3.6rem;
  height: 2.4rem;
  background-color: rgb(247, 247, 247);
  border-radius: 1.2rem;
  position: relative;
}

.toggleContainer div {
  background-color: #000;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0.7rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.toggleContainer div:hover {
  transform: translate(85%, -50%);
}
