.container {
  max-width: 180rem;
  overflow-y: hidden;
  flex: 1;
}

.about {
  display: flex;
  align-items: center;

  height: 80vh;
  width: 80%;
  margin: auto;
  animation: fromLeft 1s ease-in;
}

.instruction {
  flex-basis: 40%;
  margin-right: 5%;
}

.img {
  flex-grow: 1;
  animation: fadeIn 1s ease-out;
}

.img img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.instruction span {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.instruction h2 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.instruction p {
  font-size: 1.6rem;
  color: #000;
  font-weight: 400;
}

.btnContainer {
  /* background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; */

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back,
.next {
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.back {
  text-decoration: underline;
  font-weight: 500;
}

.next {
  font-weight: 600;
  background-color: #000;
  border: none;
  border-radius: 8px;
  color: #fff;
  width: 10rem;
  height: 4rem;
  position: relative;

  transition: all 0.3s;
}

.next:hover {
  opacity: 0.8;
}

.loading {
  background-color: grey;
  cursor: not-allowed;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    scale: 0.5;
    opacity: 0;
  }

  50% {
    transform: translateX(-50px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0;
  }

  50% {
    opacity: 0.5;
    scale: 0.5;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}
