/* Main */
.main {
  padding: 2rem 35rem 2rem 35rem;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.header .shareAndSave {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: underline;
}

.header .shareAndSave > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .shareAndSave > * img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* Gallery section */

.gallery {
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
  gap: 10px;
  height: 50vh;
}

.mainImage {
  flex: 1;
  height: 100%;
  cursor: pointer;

  transition: all 0.5s;
}

.mainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainImage:hover {
  scale: 1.02;
}

.otherImages {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 10px;

  cursor: pointer;
}

.otherImages .photo {
  flex: 1 1 calc(50% - 5px);
  height: calc(50% - 5px);

  transition: all 0.5s;
}

.otherImages .photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.otherImages .photo:hover {
  scale: 1.02;
}
/* .Organization section */

.org {
  font-size: 1.6rem;
}

.orgDetails {
  display: flex;
  justify-content: space-between;
}

.mainContent {
  flex-basis: 60%;
}

.contentHeader {
  margin-bottom: 2rem;
}

.mainContent span {
  font-weight: 500;
  font-size: 1.6rem;
}

.mainContent .mainContentHeader {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: -0.22px;
  font-size: 2rem;
}

.reviewSummary {
  padding: 1rem 2rem;
  background-color: #fff;
  font-weight: 500;
  border-radius: 1.2rem;
  border: 1px solid var(--color-grey-1);
  cursor: pointer;
  margin-bottom: 4rem;

  display: flex;

  align-items: center;
  justify-content: space-between;
}

.reviewSummary .summary {
  font-weight: inherit;
  flex-basis: 40%;
}

.reviewSummary .stars img {
  width: 10px;
}

.title {
  font-weight: inherit;
  text-align: center;

  display: flex;
}

.favourite {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.ratings {
  font-weight: inherit;

  align-self: stretch;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  line-height: 0.8;
}

.reviews {
  font-weight: inherit;
  border-left: 1px solid var(--color-grey-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  line-height: 0.8;
}

.ratings span {
  font-weight: inherit;
  font-size: 2rem;
}

.reviews span {
  font-weight: inherit;
  font-size: 1.4rem;
  line-height: 1;
}

.reviews span:first-child {
  line-height: 0.6;
}

.reviews span:last-child {
  font-size: 1.2rem;
  text-decoration: underline;
}

/* Host styling */
.host {
  display: flex;
  gap: 30px;
  padding: 2rem;

  border-top: 1px solid var(--color-grey-1);
  border-bottom: 1px solid var(--color-grey-1);
}

.hostImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.hostImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hostDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hostDetails span:first-child {
  font-weight: 600;
  font-size: 1.4rem;
}

.hostDetails span:last-child {
  color: var(--color-text-1);
  font-size: 1.2rem;
}

/* Amenties summary */
.amenities ul {
  list-style: none;
  padding: 2rem;
  border-bottom: 1px solid var(--color-grey-1);
}

.amenities ul li {
  display: flex;
  gap: 30px;
}

.amenities ul li:not(:last-child) {
  margin-bottom: 3rem;
}

.amenitiesName {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.1px;
}

.amenities ul li img {
  width: 20px;
  height: 20px;
}

.amenities span:first-child {
  font-weight: 500;
  font-size: 1.4rem;
}

.amenities span:last-child {
  font-size: 1.2rem;
  color: var(--color-text-1);
}
