.hostLocale {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hostLocaleHeader {
  padding: 0 3.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 8rem;
  flex: 0 0 auto;
}

.hostLocaleHeader .btn {
  border: 1px solid #dddddd;
  font-weight: 500;
  color: black;
  font-size: 1.4rem;
  background-color: transparent;
  padding: 1rem 1.5rem;
  border-radius: 3.2rem;
  cursor: pointer;

  transition: all 0.4s;
}

.hostLocaleHeader .btn:hover {
  border: 1px solid #000;
}

.hostLocaleHeader .btn:first-of-type {
  margin-right: 2rem;
}
