.overviewContainer {
  flex: 1 1 auto;
  padding: 0 8rem;

  display: flex;
  justify-content: flex-start;
}

.hostLocaleOverview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hostLocaleOverview h1 {
  flex-basis: 40%;
  font-weight: 500;
  font-size: 4rem;
  margin-right: 10rem;
  letter-spacing: 1px;

  animation: fromLeft 1s ease-in;
}

.hostLocaleOverview .overview {
  animation: fromRight 1s ease-in;

  flex-basis: 35%;
}

.hostLocaleOverview ul {
  list-style-type: none;
}

.hostLocaleOverview ul li {
  display: flex;

  justify-content: space-between;
  font-size: 1.6rem;
}

.hostLocaleOverview ul li h3 {
  font-weight: 500;
  font-size: 2rem;
}
.hostLocaleOverview ul li:not(:last-of-type) {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 4rem;
}

.hostLocaleOverview ul li:not(:first-of-type) {
  padding-top: 4rem;
}

.hostLocaleOverview ul li span {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -2px;
  flex-basis: 4rem;
}

.hostLocaleOverview ul li .img {
  flex-basis: 15rem;
  height: 10rem;
}

.hostLocaleOverview ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hostLocaleOverview ul .details {
  flex-grow: 1;
}

.details p {
  font-weight: 300;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  background-color: red;
  padding: 1rem 0rem;
  border-radius: 1rem;
  position: relative;
  width: 12rem;
  height: 5rem;
  text-align: center;

  cursor: pointer;
}

.loading {
  cursor: not-allowed;
  background-color: gray;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    scale: 0.5;
    opacity: 0;
  }

  50% {
    transform: translateX(-50px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(+50px);
    scale: 0.2;
    opacity: 0;
  }

  50% {
    transform: translateX(+50px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
