.structure {
  flex-basis: 1;

  overflow: auto;
  scrollbar-width: none;
}

.structure ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  padding: 0rem 55rem;
  margin: auto;
  animation: fromTop 0.5s;
}

.structure h2 {
  text-align: center;
  padding: 0rem 5rem;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.structure ul li .btn {
  border-radius: 1rem;

  width: 100%;
  border: none;
  height: 100%;
  outline: none;
  padding: 1.6rem;
  outline: 1px solid #dddddd;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.structure ul li .btn:hover {
  outline: 2px solid #000;
}

.structure ul li {
  flex-basis: 31%;
  margin-bottom: 0.4rem;
}

.structure ul li img {
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 1rem;
}

.structure ul li span {
  text-align: left;
  display: block;
}

.btnContainer {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back,
.next {
  font-size: 1.6rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.back {
  text-decoration: underline;
  font-weight: 500;
}

.next {
  font-weight: 600;
  background-color: #000;
  border: none;
  border-radius: 8px;
  color: #fff;
  width: 10rem;
  height: 4rem;
  position: relative;

  transition: all 0.3s;
}

.next:hover {
  opacity: 0.8;
}

.loading {
  background-color: grey;
  cursor: not-allowed;
}

@keyframes fromTop {
  0% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0px);
  }
}
