/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

*/

:root {
  --color-primary: #ff385c;
  --color-primary-light: #ff6f89;
  --color-primary-dark: #c02a46;

  --color-text-default: #222222;
  --color-text-1: #6a6a6a;

  --color-grey-1: #dddddd;
  --color-grey-2: #f7f7f7;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
}

*:focus {
  border: 2px solid black;
  border-radius: 5px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif, "Open Sans", sans-serif;
  color: var(--color-text-default);

  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.43;
}

.app {
  background-color: #fff;
  min-height: 100vh;
  max-width: 1800px;
  margin: auto;
}
